{{ define "main" }}
<br/><br/><br/>

<section class="section nartrow">
   <h1 class="hero-heading">Helping your team <em class="animate-charcter">thrive</em>! 🦄 </h1>
  
   <link href='https://css.gg/css' rel='stylesheet'>

  <style>

.animate-charcter
{
   /* text-transform: uppercase; */
  background-image: linear-gradient(
    -225deg,
    #918ca2 0%,
    #7a1061 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.parent {
    margin-top:300px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { 
    background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
    background-size: cover;
    
    grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }

.card{
    margin:15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 280px;
    -webkit-box-shadow: 0 30px 60px -10px rgb(0 0 0 / 22%), 0 18px 36px -18px rgb(0 0 0 / 25%);
    box-shadow: 0 30px 60px -10px rgb(0 0 0 / 22%), 0 18px 36px -18px rgb(0 0 0 / 25%);
    margin-bottom: 30px;
    -webkit-transition: -webkit-transform .3s var(--ease-out-quad),-webkit-box-shadow .3s var(--ease-out-quad);
    transition: -webkit-transform .3s var(--ease-out-quad),-webkit-box-shadow .3s var(--ease-out-quad);
    -o-transition: transform .3s var(--ease-out-quad),box-shadow .3s var(--ease-out-quad);
    transition: transform .3s var(--ease-out-quad),box-shadow .3s var(--ease-out-quad);
    transition: transform .3s var(--ease-out-quad),box-shadow .3s var(--ease-out-quad),-webkit-transform .3s var(--ease-out-quad),-webkit-box-shadow .3s var(--ease-out-quad);
}

.gg-add {
    /* This value will multiple the actual size  */
    --ggs: 5;
    position: absolute;
    color: rgb(249, 249, 249);
}

#Articles__Hero{
  margin-top: -149px;
}
}

   </style>
   <br/>
   <p style="max-width:1800px;float: left;">    <img style="border-radius: 300px;
    margin-top: -67px;
    float: right;
    max-width:200px;
    max-height: 200px;
    margin-left: 30px;"class="image-container" src="https://media-exp2.licdn.com/dms/image/C4E03AQG76qrFzK7q2g/profile-displayphoto-shrink_800_800/0/1576625695234?e=1663804800&v=beta&t=Ah52VKGi6rKq-wAlbUb5jvP_ioiqXFnskF-q5m8ZDKs">
      <br/> As a Fractional CTO, I enjoy helping clients build user centric, scalable solutions with new technologies. I thrive on creativity. I work with people to identify and drive new opportunities. I like bringing teams together to utilize collective strengths.
   </p>



   <div class="parent">
    <div class="card div1"> 
        <!-- <i class="gg-add"></i> -->
         <p style="color: white; font-size: 22px; font-weight: 600;">hello</p>
    </div>
    <div class="card div2"> hello2</div>
    <div class="card div3"> hello3</div>
    <div class="card div4">hello4 </div>
    </div>


    <h1 style="margin-top: 58px;font-size: 40px;"class="hero-heading">Past engagements 👇 </h1>
</section>






{{ partial "articles/hero.html" . }}


{{ partial "articles/articles.html" . }}

{{ end }}